* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.headline {
  padding-top: 20px;
  padding-left: 20px;
  color: gray;
}

main {
  width: 800px;
  margin: 50px auto;
}

.webcamp {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}

.webcamp-pro {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}

.webcamp-woman {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}

.webcamp-career {
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}
